* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #512a2a, #301414);
}


.container {
  width: 400px;
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}


.container p {
  font-size: 24px;
  font-weight: 600;
  color: #512a2a;
  margin-bottom: 25px;
}


.container input {
  width: 100%;
  height: 50px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 25px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.container input:focus {
  border-color: blueviolet;
  box-shadow: 0 0 8px rgba(138, 43, 226, 0.2);
}

.btn {
  width: 100%;
  height: 50px;
  margin: 15px 0;
  border: none;
  border-radius: 8px;
  background: blueviolet;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#img-box {
  width: 200px;
  max-height: 0;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 8px;
  transition: max-height 0.8s ease, margin 0.8s ease;
}

#img-box.show-img {
  max-height: 260px;
  margin: 15px auto;
  border: 1px solid #ccc;
}

#img-box img {
  width: 100%;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.8s ease;
}

#img-box.show-img img {
  opacity: 1;
}
